@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  @apply font-primary;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Layout Styles */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.wrapper {
  @apply h-full max-w-full px-7 md:px-[6.25rem] xxl:px-0 xxl:max-w-wrapper-xxl xxl:mx-auto;
}

/* Transition Styles */
.scale-transition {
  @apply transition-transform hover:scale-125;
}

/* Library Overrides */
.text-field-tooltip.tippy-box {
  @apply rounded-xl bg-neutral-400;
}

.text-field-tooltip .tippy-content {
  @apply p-4 text-neutral-100 text-mobile-xs;
}

.text-field-tooltip .tippy-arrow {
  @apply text-neutral-400;
}

/* TextField Styles */

/* Chromum & Safari */
.text-field .text-input[type='number']::-webkit-inner-spin-button {
  @apply hidden;
}

/* Firefox */
.text-field .text-input[type='number'] {
  -moz-appearance: textfield;
}
