@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  @apply font-primary;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.text-xl {
  @apply text-mobile-xl md:text-desktop-xl font-secondary;
}

.text-lg {
  @apply text-mobile-lg md:text-desktop-lg;
}

.text-md {
  @apply text-mobile-md md:text-desktop-md;
}

.text-sm {
  @apply text-mobile-sm md:text-desktop-sm;
}

.text-xs {
  @apply text-mobile-xs md:text-desktop-xs;
}
